/* importing fonts */

.raleway-font-1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.inter-font-2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* styling the header */

.background-header {
    background-image: url('../styles/Hero-bg.png');
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 698px;


}

/* styling the nav bar */


.nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 51px 150px;

}

.nav-img-style {
    width: 30px;
    height: 30px;

}

.nav-text-primary {
    color: #FD6E0A;
    font-weight: 700;


}

nav h3 {
    font-size: 34px;
}

/* styling banner  */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

.banner-description {
    font-size: 55px;
    color: #252432;
    font-weight: bold;
    margin-top: 20px;
    max-width: 700px;
}

/* Button style */

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

}

.btn-primary:hover {
    background-color: #e55b00;
}

/* section-a style  */

.section-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 116px;
    gap: 0px;
}

.action-title {
    text-align: left;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.action-description {
    text-align: left;
    max-width: 500px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 10px;
}

.action-img {
    width: 403px;
    border-radius: 30px;
}

/* section-b style */

.section-b {
    background-color: rgba(78, 71, 255, 0.1);
    align-content: center;
    padding: 60px;
    border-radius: 20px;
    max-width: 1000px;
    margin: 170px;
    
}

.user-heading h3 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #252432;
    margin-top: 0px;
    margin-bottom: 10px;
}

.user-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
   
}

.user-data ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 130px;
}

.user-data li {
    text-align: center;
}

.user-data li h4 {
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    margin: 0;
   
}

.user-data li p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}